node_modules
.next
.git
.gitignore
.env.local
.env
Dockerfile
README.md
build_error.txt
build_error_v2.txt
scratch
supabase
bocetos
Docs Bridge Makets
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
